<!DOCTYPE html>
<html>
<head><title>All Patients</title></head>
<body>
    <h2>All Patients</h2>

    <ul>
        {% for patient in patients %}
        <li>
            {{ patient.name }} ({{ patient.patient_id }}) |
            Age: {{ patient.age }} | Gender: {{ patient.gender }} |
            <a href="{% url 'update_patient' patient.id %}">Edit</a> |
            <a href="{% url 'delete_patient' patient.id %}">Delete</a>
        </li>
        {% empty %}
        <li>No patients found.</li>
        {% endfor %}
    </ul>
</body>
</html>
